Gadget4
Gadget4-MF
Gadget4-H
Gadget4-hybrid-restart
MF/MuFLR

other/ 
build/
examples/

hsetup_old.sh

htools/pk_ref.pre
htools/class_template.ini
htools/nu.ini
htools/scripts/deprecated
htools/scripts/__pycache__/

tests/
